@media all and (min-width : 1920px) {
  body,html {
    font-size: 18px!important;
  }
  .main-slider-section{
    height: auto;
  }
  .main-slider{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      position: static;
    }
  }
}

@media all and (max-width : 1920px) {
  body,html {
    font-size: 18px!important;
  }
  .main-slider img{
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    top: 0;
    @include lazy-vendor(trsf,translateX(-50%));
  }
}
@media all and (max-width : 1750px) {
  body,html {
    font-size: 17px!important;
  }
  .main-slider-section{
    height: 550px;
  }
  .section-about-me .about-me-text-block{
    min-height: 29.9em;
  }
}
@media all and (max-width : 1600px) {
  body,html {
    font-size: 16px!important;
  }
  .main-slider-section{
    height: 500px;
  }
  .coop-section .section-gallery .gallery-block{
    &-1{
      width: 23%;
    }
    &-2{
      width: 28%;
    }
    &-3{
      width: 47%;
    }
  }
  .section-about-me .about-me-text-block{
    min-height: 32em;
  }
}
      //LG>MD
@media all and (max-width : 1440px) {
  body,html {
    font-size: 14px!important;
  }
  .main-slider-section{
    height: 450px;
  }
  .section-about-me .about-me-text-block{
    min-height: 37.3em;
  }
  .about-me-zorin,.about-me-zorin-bottom{
    font-size: 160px;
  }
}

@media all and (max-width : 1366px) {
  body,html {
    font-size: 13px!important;
  }
  .main-slider-section{
    height: 430px;
  }
  .section-about-me .about-me-text-block{
    min-height: 40.4em;
  }
}

@media all and (max-width : 1280px) {
  body,html {
    font-size: 12px!important;
  }
  .main-slider-section{
    height: 400px;
  }
  .section-about-me{
    .about-me-text-block{
      min-height: 44em;
    }
    .about-me-zorin,.about-me-zorin-bottom{
      font-size: 140px;
    }
  }
}
      //MD>SM
@media all and (max-width : 1024px) {

}
      //SM>XS
@media all and (max-width : 768px) {

}

@media all and (max-width : 640px) {

}

@media all and (max-width : 540px) {

}

@media all and (max-width : 480px) {

}