@import "colors";
.select-block {
	position: relative;
	display: inline-block;
	width: 100%;
}
.select {
	display: inline-block;
	padding: 0 1.5rem;
	border: 1px solid #fff;
	outline: 0;
	option {
		border: 1px solid #fff;
		padding: 0.6rem 1.5rem;
		&:hover,
		&:focus,
		&:active {
			background: #fff;
		}
	}
	&.select-hidden {
		display: none;
		visibility: hidden;
	}
}
.select-block__item  {
	border: 0;
	display: none;
	position: relative;
	line-height: 1.666em;
	padding-left: 1em;
  	cursor: pointer;
    &::after {
		content: " ";
		position: absolute;
		display: inline-block;
    //background: url("../images/select-arrow.png") no-repeat center;
      	background-size: 16px 9px;
      	width: 16px;
      	height: 9px;
		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
		transform-origin: center center;
		transition: transform 0.4s;
	}
	&::after {
		right: 8px;
		top: 40%;
	}
	&.active {
		&::after {
			transform: rotate(180deg);
		}
	}
}
.select-block__list {
	background: #fff;
	display: none;
	left: -1px;
  top: 2.111em;
	position: absolute;
	list-style-type: none;
	padding: 0 1em;
	margin: 0;
	//border: 1px solid $border-gray;
    border-top: none;
  z-index: 1200;
	overflow-x: hidden;
}
.select-block__list-item {
	//color: $heaviest-gray;
  line-height: 2.666em;
  //border-bottom: 1px solid $border-gray;
  cursor: pointer;
  &:last-child{
    border-bottom: none;
  }
}
